In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("r_squared_all.csv")

In [7]:
df.head()

    outcome       team     r.squared  beatingBaseline
0  eviction    ADSgrp5  1.215839e-11            False
1  eviction     aemack  3.194527e-02             True
2  eviction     agalle -6.261104e-02            False
3  eviction  alexlibby -1.770461e-01            False
4  eviction    alhajri -7.914023e-03            False

In [9]:
col = "r.squared"
max_x = df.loc[df[col].idxmax()]
print("Maximum value of column ", col, " and its corresponding row values:\n", max_x)

Maximum value of column  r.squared  and its corresponding row values:
 outcome            materialHardship
team                       haixiaow
r.squared                  0.231871
beatingBaseline                True
Name: 860, dtype: object

In [15]:
df['r.squared'].nlargest(2)

860    0.231871
800    0.228609
959    0.228268
953    0.223909
Name: r.squared, dtype: float64

In [18]:
print(df.loc[[860]])
print(df.loc[[800]])

              outcome      team  r.squared  beatingBaseline
860  materialHardship  haixiaow   0.231871             True
              outcome     team  r.squared  beatingBaseline
800  materialHardship  ADSgrp5   0.228609             True
              outcome    team  r.squared  beatingBaseline
959  materialHardship  zn2146   0.228268             True
              outcome       team  r.squared  beatingBaseline
953  materialHardship  wjlei1990   0.223909             True